.tabla,
.cronograma-matematicas,
.cronograma-arquitectura,
.cronograma-taller {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 3vh 5vh 0 5vh;
}

.tabla {
  height: 100vh;
  align-items: center;
}

.lista-materias,
.lista-fechas {
  padding: 20vh 0;
}

.lista-materias__materia {
  padding: 5px 10px;
}

/* .cronograma-matematicas,
.cronograma-arquitectura,
.cronograma-taller {
  height: 50vh;

} */

/* seccion matematicas */
.matematica-2 {
  margin: 10px 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.line3 {
  width: 46.3rem;
  margin: auto;
  height: 1px;
  background-color: #fff;
}

.line {
  width: 0;
  margin: 10px auto;
  height: 1px;
  background-color: #fff;
}


.cronograma-matematica__dias {
  padding: 1em 1.45em;
}

.cronograma-matematica__aulas {
  padding: 1em 1.45em;
}


.temas {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.cronograma-matematica__temast {
  padding: 1em;
  text-align: center;
}

.cronograma-matematica__temas {
  padding: 1em 16.800786em;
  text-align: center;
}

.line2 {
  width: 100%;
  margin: auto;
  height: 1px;
  background-color: #fff;
}

/*--------------------------------------------*/


/* seccion de taller */
.taller-de-programacion {
  margin: 10px 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.cronograma-taller__temast {
  padding: 1em;
  text-align: center;
}

.cronograma-taller__temas {
  padding: 1rem 13.5rem;
  text-align: center;
}

.cronograma-taller__dias {
  padding: 1em .851em;
}

.cronograma-taller__aulas {
  padding: 1em .851em;
}

/*---------------------------------------*/


/* seccion de arc */
.arquitectura-de-computadoras {
  margin: 10px 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}


.cronograma-arquitectura__temast {
  padding: 0.5em;
  text-align: center;
}

.cronograma-arquitectura__temast {
  padding: 1em;
}

.cronograma-arquitectura__temas {
  padding: 1em 15rem;
  text-align: center;
}

.cronograma-arquitectura__dias {
  padding: 1rem;
}

.cronograma-arquitectura__aulas {
  padding: 1rem;
}

/*---------------------------------------- */

/* Colores principales */
.lista-materias__materia,
.cronograma-matematica__dias,
.cronograma-matematica__temas,
.cronograma-matematica__temast,
.cronograma-arquitectura__dias,
.cronograma-arquitectura__temas,
.cronograma-arquitectura__temast,
.cronograma-taller__dias,
.cronograma-taller__temas,
.cronograma-taller__temast,
.cronograma-matematica__aulas,
.cronograma-arquitectura__aulas,
.cronograma-taller__aulas {
  background-color: rgba(173, 9, 9, 0.5);
}

@media screen and (max-width:820px) {

  .cronograma-taller__aulas,
  .cronograma-arquitectura__aulas,
  .cronograma-matematica__aulas {
    display: none;
  }

  /* arc */
  .arquitectura-de-computadoras {
    margin: 10px 0;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .cronograma-arquitectura {
    width: 100%;
  }

  .cronograma-arquitectura__temast {
    padding: 0.5em;
    text-align: center;
  }

  .cronograma-arquitectura__temas {
    padding: 1em 14rem;
    text-align: center;
  }

  .cronograma-arquitectura__dias {
    padding: 1.5rem 1.9rem;

  }

  .line3 {
    width: 44.2rem;
    margin: auto;
    height: 1px;
    background-color: #fff;
  }

  .line {
    width: 0;
    margin: 10px auto;
    height: 1px;
    background-color: #fff;
  }

  .line2 {
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: #fff;
  }

  /* taller */
  .taller-de-programacion {
    margin: 10px 0;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  .cronograma-taller__temast {
    padding: 1em;
    text-align: center;
  }

  .cronograma-taller__temas {
    padding: 1rem 12.5rem;
    text-align: center;
  }

  .cronograma-taller__dias {
    padding: 1.5rem 1.96rem;
  }

  /*mat*/
  .matematica-2 {
    margin: 10px 0;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
  }


  .cronograma-matematica__dias {
    padding: 1em 1.96em;
  }

  .cronograma-matematica__aulas {
    padding: 1em 1.45em;
  }


  .temas {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .cronograma-matematica__temast {
    padding: 1em;
    text-align: center;
  }

  .cronograma-matematica__temas {
    padding: 1em 15.800em;
    text-align: center;
  }

}